

tbody td div.info {
	text-align: justify;
	display: -moz-grid-line;
}

tbody.table-pedidos tr td, table.produtos_detail td {
	vertical-align: middle !important;
}

.icon_status_user {
	margin-bottom: -5px;
}

.status table {
	background-color: inherit;
}

.status table td {
	padding: 5px;
}