
.clear, .vertical-space5, 
	.vertical-space10, 
	.vertical-space15, 
	.vertical-space20, 
	.horizontal-space5,
	.horizontal-space10,
	.horizontal-space15,
	.horizontal-space20 {
	clear:both;
	margin:0;
	padding:0;
	height:0;
	width:0;
}


.vertical-space5 {height:5px;}
.vertical-space10 {height:10px;}
.vertical-space15 {height:15px;}
.vertical-space20 {height:20px;}

.horizontal-space5 {width:5px;}
.horizontal-space10 {width:10px;}
.horizontal-space15 {width:15px;}
.horizontal-space20 {width:20px;}

.space-paginator {
	float:left;
}

#container {
	width:80%;
	margin: 0.4% auto;
	min-height: 600px;
}

#content {
	padding: 5px;
	width:100%;
}

#header {
	width:100%;
	height:425px;
}

#footer {
	height:70px;
	width:100%;
	float:left;
	margin-top:6px;
}

.Absolute-Center {
	width: 50%;
	height: 50%;
	margin: auto;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}

.wrapper-center {
	display: table;
	position: absolute;
	width: 100%;
	height: 100%;
}

.txt10 { font-size: 1.0em; line-height: 1.1em;}
.txt11 { font-size: 1.1em; line-height: 1.1em}
.txt12 { font-size: 1.2em; line-height: 1.83em}
.txt13 { font-size: 1.3em; line-height: 1.69em}
.txt14 { font-size: 1.4em; line-height: 1.57em}
.txt15, .message { font-size: 1.5em; line-height: 1.46em}
.txt16 { font-size: 1.6em; line-height: 1.375em}
.txt17 { font-size: 1.7em; line-height: 1.29em}
.txt18 { font-size: 1.8em; line-height: 1.22em}
.txt19 { font-size: 1.9em; line-height: 1.15em}
.txt20 { font-size: 2.0em; line-height: 1.65em}
.txt21 { font-size: 2.1em; line-height: 1.57em}
.txt22 { font-size: 2.2em; line-height: 1.5em}
.txt23 { font-size: 2.3em; line-height: 1.43em}
.txt24 { font-size: 2.4em; line-height: 1.375em}
.txt25 { font-size: 2.5em; line-height: 1.32em}
.txt26 { font-size: 2.6em; line-height: 1.26em}
.txt27 { font-size: 2.7em; line-height: 1.26em}
.txt28 { font-size: 2.8em; line-height: 1.26em}
.txt29 { font-size: 2.9em; line-height: 1.26em}
.txt30 { font-size: 3.0em; line-height: 1.26em}
.txt31 { font-size: 3.1em; line-height: 1.26em}


.width5 {width:5%}
.width10 {width:10%}
.width15 {width:15%}
.width20 {width:20%}
.width25 {width:25%}
.width30 {width:30%}
.width35 {width:35%}
.width40 {width:40%}
.width45 {width:45%}
.width50 {width:50%}
.width55 {width:55%}
.width60 {width:60%}
.width65 {width:65%}
.width70 {width:70%}
.width75 {width:75%}

.mg-all1 {margin:1%}
.mg-all2 {margin:2%}
.mg-all3 {margin:3%}
.mg-all4 {margin:4%}
.mg-all5 {margin:5%}

.mg-top1 {margin-top:1%}
.mg-top2 {margin-top:2%}
.mg-top3 {margin-top:3%}
.mg-top4 {margin-top:4%}
.mg-top5 {margin-top:5%}
.mg-top6 {margin-top:6%}
.mg-top7 {margin-top:7%}

.mg-left1 {margin-left:1%}
.mg-left2 {margin-left:2%}
.mg-left3 {margin-left:3%}
.mg-left4 {margin-left:4%}
.mg-left5 {margin-left:5%}
.mg-left6 {margin-left:6%}
.mg-left7 {margin-left:7%}

.mg-bottom1 {margin-bottom:1%}
.mg-bottom2 {margin-bottom:2%}
.mg-bottom3 {margin-bottom:3%}
.mg-bottom4 {margin-bottom:4%}
.mg-bottom5 {margin-bottom:5%}
.mg-bottom6 {margin-bottom:6%}
.mg-bottom7 {margin-bottom:7%}


.row {
	width:100%;
}

.row .column {
	float:left;
}

.esq {
	float:left;
}

.dir {
	float:right;
}

#assunto {
	width:100%;
}

#content h1 {
	margin-bottom:1%;
}

form {
	margin:auto;
	position:relative;
	width:80%;
}

form label {
	display:block;
	margin-bottom:2px;
}

#titulo_form {
	text-align: center;
}


@media ( min-width : 1em) {
	#container {
		width: 96% !important;
	}
}

@media ( min-width : 50em) {
	#container {
		width: 80% !important;
	}
}







