

#headerTop {
	height: 84%;
	width: 100%;
}
	#carousel {
		width: 84.5%;
		height: 100%;
		float: right;
		position: relative;
		overflow: hidden;
	}

	#areaLogin {
		width: 15%;
		height: 100%;
		float: left;
	}

	#northLogin {
		width: 100%;
		height: 48%;
		max-width: 300px;
	}
	
		#northLogin img {
			width: 100%;
			height: 100%;
		}
	
	#area-login {
		width:100%;
	}
	
	#southLogin {
		width: 100%;
		height: 49%;
	}

		.wrapper-login {
			width:100%;
			text-align: center;
			border:1px solid black;
			margin-bottom: 10px;
		}
		
			.wrapper-login a, .wrapper-login div {
				vertical-align: middle;
				display: inline-block;
			}
			
			#actions-login div {
				display: block;
			}
			
				#btns-login a {
					display: inline-block;
				}

#menu {
	width: 100%;
	height: 15%;
	text-align: center;
	position: relative;
	display: table;
}

	#menu ul {
		list-style: none;
		vertical-align: middle;
		display: table-cell;
	}

		#menu li {
			display: inline-block;
			margin: 0 5%;
		}

			#menu a {
				display: inline-block;
				vertical-align: middle;
			}

			#menu .item-menu {
				cursor: pointer;
			}

			#menu .item-menu:hover {
				border-radius:4px;
				background-color: rgb(185, 196, 105);
			}
			
#painel-itens_cart, #painel-preco_cart {
	position: fixed;
	z-index: 51;
	background-color: rgba(252, 255, 186, 1);
	border: 2px solid black;
	padding: 2px 8px;
	display: inline-block;
}
			
#painel-preco_cart {
	left: 0;
	top: 0;
}

#painel-itens_cart {
	right:0;
	top:0;
	cursor: pointer;
}
