@import '../../core/stylesheets/base/mixins';

.hasError {
  border-color: red !important;
}

.list {
  &__title {
    margin: 7px 0px;
    font-weight: bold;
  }

  &__item {
    font-style: italic;
    cursor: pointer;
    &.list-group-item {
      display: block;
    }
    &__content {
      display: flex;
      flex-direction: row;
      align-items: center;
      &__checkbox {
        margin-right: 0.5em;
        display: none;
      }
    }
    &--checked {
      font-weight: bolder;
    }
    &:not(&--checked) {
      &:hover {
        background: darken(white, 10%);
      }
      &:active {
        background: darken(white, 50%);
        color: lighten(black, 100%);
      }
    }
  }
}
