.capitulos {

  position: fixed;
  z-index: 100;
  background: white;
  top: 0px;
  padding: 30px 0px 10px 0px;
  min-width: 100%;

  #capitulos {
    width: calc(100% - 105px);
    max-height: 10em;
    overflow-y: auto;
  }

  &__container {
    position: fixed !important;
    top: 30px;
  }

  &__capitulo {
    min-height: 1em;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;

    border: 1px solid black;
    margin: 0.5px;

    &:hover {
      border-color: white;
      background:	#A9A9A9;
      font-weight: bold;
    }
  }
}
