.capitulos {

  &__capitulo {
    min-height: 1em;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;

    border: 1px solid black;
    margin: 0.5px;

    &:hover {
      border-color: white;
      background:	#A9A9A9;
      font-weight: bold;
    }
  }
}
