

.painel-pedido {
	width: 80%;
	margin: 0 auto;
	border: 1px solid #98997D;
	border-radius: 4px;
	background-color: rgb(255, 250, 140);
}

.painel-pedido:hover {
	background-color: rgb(255, 253, 210);
}

.table {
	margin-bottom: 0 !important;
}


