<?xml version="1.0"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:sec="http://www.springframework.org/schema/security" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
          http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
          http://www.springframework.org/schema/security
          http://www.springframework.org/schema/security/spring-security-3.2.xsd">

	<bean id="messageSource" class="org.springframework.context.support.ReloadableResourceBundleMessageSource">
		<property name="basename" value="classpath:messages" />
	</bean>

	<sec:http pattern="/estatico/**" security="none" />
	<sec:http pattern="/rest/**"     security="none" />

	<!-- ROLE_GESTOR ROLE_USUARIO ROLE_OPERADOR -->

	<sec:http auto-config="true" create-session="ifRequired" use-expressions="true">

		<sec:intercept-url access="permitAll()" pattern="/printer" requires-channel="http" />
		<sec:intercept-url access="permitAll()" pattern="/printer/**" requires-channel="http" />
<!-- 		<sec:intercept-url access="permitAll()" pattern="/" requires-channel="https" /> -->
<!-- 		<sec:intercept-url access="hasRole('ROLE_GESTOR')" pattern="/user/off/register/" requires-channel="https" /> -->
<!-- 		<sec:intercept-url access="permitAll()" pattern="/**/off/**" requires-channel="https" /> -->
<!-- 		<sec:intercept-url access="hasRole('ROLE_USUARIO')" pattern="/**" requires-channel="https" /> -->


		<sec:intercept-url access="permitAll()" pattern="/**" />
<!-- 		<sec:intercept-url access="hasRole('ROLE_GESTOR')" pattern="/user/off/register/"  /> -->
<!-- 		<sec:intercept-url access="permitAll()" pattern="/**/off/**" /> -->
<!-- 		<sec:intercept-url access="hasRole('ROLE_USUARIO')" pattern="/**" /> -->

		<sec:form-login login-page="/login/off/"
			default-target-url="/" authentication-failure-url="/login/off/?error"
			password-parameter="senha" username-parameter="telefone"
			always-use-default-target="true" />

		<sec:session-management	session-authentication-error-url="/login/off/logout?alreadyLogged">
			<sec:concurrency-control expired-url="/login/off/logout?alreadyLogged"
				error-if-maximum-exceeded="true" max-sessions="1" />
		</sec:session-management>
	
		<sec:logout invalidate-session="true" delete-cookies="JSESSIONID"
			logout-success-url="/login/off/logout" />
		<sec:access-denied-handler error-page="/login/off/negado" />
	
 		<sec:port-mappings>
 			<sec:port-mapping http="1111" https="8443"/>
 		</sec:port-mappings>
	
<!-- 		<sec:csrf  /> -->
	</sec:http>

	<sec:authentication-manager alias="authenticationManager">
		<sec:authentication-provider user-service-ref="userJDBC">
			<sec:password-encoder hash="md5" />
		</sec:authentication-provider>
	</sec:authentication-manager>

	<bean id="successHandler" class="org.springframework.security.web.authentication.SavedRequestAwareAuthenticationSuccessHandler" />

</beans>
