	#valor_final {}

#painel-cart {
	text-align: center;
	padding: 3px;
}

	#title_cart {
		display: block;
	}

.item-cart {
	display: inline-block;
	background-color: rgb(231, 212, 108);
	border: 2px solid rgb(187, 187, 118);
	font-weight: bolder;
	color: rgb(68, 73, 32);
	border-radius: 5px;
	padding: 5px;
}

	.part-cart {
		display: inline-block;
		vertical-align: top;
	}
	
	.part-cart img {
		cursor: pointer;
	}
	
	.price {
		position:absolute;
		color: black;
		background-color: rgb(229, 240, 99);
		font-weight: bolder;
		border-radius: 10px;	
		padding: 0px 5px;
	}
	
#meios {
	text-align: center;
}

	#meio_pagamento, #meio_recebimento, #tipo_endereco, #endereco {
		display:inline-block;
		text-align: justify;
		border-radius: 10px;
		border: 1px solid black;
		padding: 7px;
	}
	
	#tipo_endereco .wrapper-radio {
		display:inline-block;
	}
	
	#wrapper_meio_pagamento, #wrapper_meio_recebimento {
		width:49%; 
		display:inline-block;
	}
	
	@media ( min-width : 1em) {
		.part-amount {
			display: block ;
		}
		
			#endereco {
				width: 90%;
			}
			
			.item-cart, .part-cart, .part-cart img {
				height: 120px;
			}
			
			.part-cart img {
				height: 100px ;
				width: 130px;
				float: none ;
				display: block;
			}
			
			.desc-product {
				float: none ;
				height: 20px ;
				display: block;
				margin-left: 0px;
			}
		
		#wrapper_meio_pagamento, #wrapper_meio_recebimento {
			width:100%; 
		}
		
		#wrapper_meio_recebimento {
			margin-top: 10px;
		}
		
		#modal .form_endereco {
			width: 300px;
		}
	}
		
	@media ( min-width : 35em) {
		.part-amount {
			display: inline-block ;
		}
		
		#wrapper_meio_pagamento, #wrapper_meio_recebimento {
			width:49%; 
			display:inline-block;
		}
		
		.item-cart, .part-cart, .part-cart img {
			height: 130px ;
		}
		
			.part-cart img {
				height: 130px ;
				width: 200px;
				float: right ;
				display: inline-block;
			}
			
			.desc-product {
				margin-left: 10px;
				float: right;
				height: 100%;
				display: inline-block;
			}
	}
	
	@media ( min-width : 50em) {
		.item-cart {
			height: 150px ;
		}
		
			.item-cart, .part-cart, .part-cart img {
				height: 150px ;
			}
		
			.part-cart img {
				height: 150px ;
				width: 250px;
			}
		
		#modal .form_endereco {
			width: 500px;
		}
		
		#endereco {
			width: 80%;
		}

	}
	

